*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --view-height: 100vh;
  --header-height:10rem;
  --footer-height:4rem;
  /* --primary-font: 'Sansita Swashed', sans-serif;
  --secondary-font: 'Space Grotesk', sans-serif; */
}

.header{
  height: var(--header-height);
}

.active{
  color: #6366f1;
  font-weight: 700;
}

@media all and (min-width : 640px){
    .header{
      height: 5rem;
    }
}

.footer {
  height: var(--footer-height);
  border: 2px solid black;
}

/* Content */

.content {
  min-height: calc(var(--view-height) - (var(--header-height) + var(--footer-height)));
  padding: 5rem 0rem;
}

.movie-slide{
  scroll-snap-type: x mandatory;
}

.movie-card{
  scroll-snap-align: start;
  /* background: #232526; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #7383df, #262626); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #7383df, #262626); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* color: whitesmoke; */
}

.movielist-content{

}
