*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --view-height: 100vh;
  --header-height:5rem;
  --footer-height:6rem;
  /* --primary-font: 'Sansita Swashed', sans-serif;
  --secondary-font: 'Space Grotesk', sans-serif; */
}

.header{
  height: var(--header-height);
}

.active{
  color: #6366f1;
  font-weight: 700;
}

body{
  color: black;
}

.navlink:hover{
  color: gray;
}

.active:hover{
  color: #6366f1;
}

.details-page .title{
  box-shadow: -6px 6px #6366F1;
}

/* .poster-image{
      box-shadow: -6px 6px #8b8dfa;
} */

/* Loader */

.loader {
  margin: 6rem auto;
  border: 0.6rem solid rgb(218, 218, 218);
  border-radius: 50%;
  border-top: 0.6rem solid #6366F1;
  width: 5rem;
  height: 5rem;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer {
  height: var(--footer-height);
}

/* tringle-asymmetrical and tringle  */

.custom-shape-divider-wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom: -3rem;
}

.custom-shape-divider-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 145px;
}

.custom-shape-divider-wave .shape-fill {
  fill: #ffffff;
}


.custom-shape-divider-wave-bottom {
  position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-wave-bottom svg {
  position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.custom-shape-divider-wave-bottom .shape-fill {
  fill: #9b9db18a;
}

/* Content */

.content {
  min-height: calc(var(--view-height) - (var(--header-height) + var(--footer-height)));
}

.movie-slide{
  scroll-snap-type: x mandatory;
}

.movie-card{
  scroll-snap-align: start;
  filter: grayscale(0);
}

.movie-card:hover .movie-poster {
  filter: grayscale(1);
}

.movielist-content{
  background-color: #9b9db18a;
}



body {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #6366f1 #ffffff;
  /* scroll thumb and track */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: #6366f1 #ffffff;
    /* scroll thumb and track */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 20px;
  border: 3px solid rgb(103, 103, 103);
}
